<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events Registeration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="shortcut icon" href="images/event.png" type="image/x-icon" />
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container--main">{% block content %} {% endblock %}</div>
  </body>
</html>
